In [2]:
import pandas as pd
import numpy as np

In [3]:
soil_data = pd.read_csv("C:/Users/Dima/Desktop/MIP/soil/soil_binned.csv")
soil_data

,RegionName,n_bin_0,n_bin_1,n_bin_2,n_bin_3,n_bin_4,n_bin_5,n_bin_6,p_bin_0,p_bin_1,...,type_4,type_5,type_6,type_7,type_8,type_9,type_10,type_11,type_12,type_13
0,QLD Condamine-Balonne,0.628219,0.347783,0.021059,0.002435,0.000456,0.000047,0.000000,0.933798,0.063448,...,0.006227,0.003278,0.000038,0.033058,0.325764,5.787290e-05,0.000747,0.000070,0.000000e+00,0.000000
1,NSW Barwon Darling,0.973983,0.023493,0.002314,0.000208,0.000002,0.000000,0.000000,0.998382,0.001485,...,0.031734,0.000015,0.000000,0.011035,0.593589,0.000000e+00,0.002571,0.000013,0.000000e+00,0.000000
2,QLD Moonie,0.742361,0.257634,0.000005,0.000000,0.000000,0.000000,0.000000,0.999994,0.000006,...,0.000943,0.000000,0.000000,0.002139,0.267597,0.000000e+00,0.000002,0.000000,0.000000e+00,0.000000
3,NSW Murray Above,0.000000,0.006054,0.699257,0.213501,0.040172,0.040554,0.000462,0.000190,0.088860,...,0.196791,0.001963,0.004380,0.197636,0.168374,2.937375e-05,0.001234,0.000000,2.937375e-05,0.000000
4,NSW Lower Darling,0.510316,0.487054,0.002530,0.000100,0.000000,0.000000,0.000000,0.909281,0.090719,...,0.178730,0.000000,0.000000,0.021655,0.118324,0.000000e+00,0.001021,0.514081,0.000000e+00,0.000000
5,QLD Border Rivers,0.406046,0.539823,0.054054,0.000076,0.000000,0.000000,0.000000,0.959824,0.038245,...,0.025232,0.000000,0.005161,0.065984,0.027827,8.438534e-06,0.012983,0.000000,0.000000e+00,0.000000
6,NSW Border Rivers,0.133807,0.675725,0.189032,0.001422,0.000014,0.000000,0.000000,0.678183,0.306903,...,0.073331,0.002445,0.012773,0.168647,0.065390,3.148609e-05,0.059489,0.000000,4.142907e-07,0.000000
7,NSW Gwydir,0.242226,0.667477,0.088964,0.001324,0.000009,0.000000,0.000000,0.683479,0.303165,...,0.146178,0.005733,0.005651,0.120695,0.014879,0.000000e+00,0.014903,0.000000,1.295201e-06,0.000000
8,NSW Namoi,0.350251,0.593654,0.055366,0.000706,0.000017,0.000005,0.000001,0.758784,0.212159,...,0.213425,0.001167,0.001881,0.135747,0.004156,7.786928e-07,0.007740,0.000011,0.000000e+00,0.000004
9,NSW Macquarie-Castlereagh,0.518498,0.451991,0.029445,0.000064,0.000002,0.000000,0.000000,0.837215,0.153014,...,0.457178,0.001873,0.001369,0.097652,0.118053,2.554723e-06,0.004230,0.000010,0.000000e+00,0.000000
10,NSW Lachlan,0.543935,0.413001,0.043039,0.000025,0.000000,0.000000,0.000000,0.808373,0.180452,...,0.374164,0.002556,0.000430,0.022888,0.272023,0.000000e+00,0.017112,0.000331,2.548976e-07,0.000121
11,NSW Murrumbidgee,0.345238,0.519542,0.122073,0.009436,0.002163,0.001534,0.000014,0.716681,0.182645,...,0.439591,0.000380,0.005390,0.042447,0.055151,3.635378e-04,0.016204,0.010583,1.589694e-06,0.000111

In [4]:
soils = {}
with open("C:/Users/Dima\Desktop/MIP/soil/Soil_and_Landscape_Grid_National_Soil_Attribute_Maps_-_Australian_Soil_Classification_Map_(3__resolution)_-_Release_1-3gj4oPwN-/data/ASC_ORDER_QGIS_Map_Legend.txt", "r") as f:
    lines = f.readlines()
    for line in lines[2:]:
        soils["type_"+line.strip().split(",")[0]] = line.strip().split("-")[1].strip()

In [5]:
soils

{'type_1': 'Vertosol',
 'type_2': 'Sodosol',
 'type_3': 'Dermosol',
 'type_4': 'Chromosol',
 'type_5': 'Ferrosol',
 'type_6': 'Kurosol',
 'type_7': 'Tenosol',
 'type_8': 'Kandosol',
 'type_9': 'Hydrosol',
 'type_10': 'Podosol',
 'type_11': 'Rudosol',
 'type_12': 'Calcarasol',
 'type_13': 'Organosol',
 'type_14': 'Anthroposol'}

In [6]:
nitrogen_c = [c for c in soil_data.columns if "n_bin" in c]
nitrogen_c

['n_bin_0', 'n_bin_1', 'n_bin_2', 'n_bin_3', 'n_bin_4', 'n_bin_5', 'n_bin_6']

In [7]:
phosphorus_c = [c for c in soil_data.columns if "p_bin" in c]
phosphorus_c

['p_bin_0', 'p_bin_1', 'p_bin_2', 'p_bin_3', 'p_bin_4', 'p_bin_5', 'p_bin_6']

In [8]:
ph_c = [c for c in soil_data.columns if "ph_bin" in c]
ph_c

['ph_bin_0', 'ph_bin_1', 'ph_bin_2', 'ph_bin_3', 'ph_bin_4']

In [9]:
type_c = [c for c in soil_data.columns if "type" in c]
type_c

['type_1',
 'type_2',
 'type_3',
 'type_4',
 'type_5',
 'type_6',
 'type_7',
 'type_8',
 'type_9',
 'type_10',
 'type_11',
 'type_12',
 'type_13']

In [10]:
soil_data[soil_data.RegionName == "QLD Condamine-Balonne"][nitrogen_c]

    n_bin_0   n_bin_1   n_bin_2   n_bin_3   n_bin_4   n_bin_5  n_bin_6
0  0.628219  0.347783  0.021059  0.002435  0.000456  0.000047      0.0

In [11]:
def find_max_column(df, col):
    max_col = None
    max_val = -1
    for c in col:
        if df[c].max() > max_val:
            max_col = c
            max_val = df[c].max()
    return (max_col, max_val)

In [12]:
for r in soil_data.RegionName:
    print(f"{r} : {find_max_column(soil_data[soil_data.RegionName == r], nitrogen_c)}")

QLD Condamine-Balonne : ('n_bin_0', 0.6282186985282665)
NSW Barwon Darling : ('n_bin_0', 0.9739826918593476)
QLD Moonie : ('n_bin_0', 0.7423610374685256)
NSW Murray Above : ('n_bin_2', 0.6992571743073178)
NSW Lower Darling : ('n_bin_0', 0.5103160536539075)
QLD Border Rivers : ('n_bin_1', 0.5398232552598531)
NSW Border Rivers : ('n_bin_1', 0.6757245714551582)
NSW Gwydir : ('n_bin_1', 0.6674771348042253)
NSW Namoi : ('n_bin_1', 0.5936541050519742)
NSW Macquarie-Castlereagh : ('n_bin_0', 0.5184976260795676)
NSW Lachlan : ('n_bin_0', 0.5439347198133666)
NSW Murrumbidgee : ('n_bin_1', 0.5195422161926914)

In [13]:
for r in soil_data.RegionName:
    print(f"{r} : {find_max_column(soil_data[soil_data.RegionName == r], phosphorus_c)}")

QLD Condamine-Balonne : ('p_bin_0', 0.9337984276792064)
NSW Barwon Darling : ('p_bin_0', 0.9983824050190536)
QLD Moonie : ('p_bin_0', 0.999993834574228)
NSW Murray Above : ('p_bin_3', 0.4157367493711284)
NSW Lower Darling : ('p_bin_0', 0.9092805760011624)
QLD Border Rivers : ('p_bin_0', 0.95982410821377)
NSW Border Rivers : ('p_bin_0', 0.6781834284916683)
NSW Gwydir : ('p_bin_0', 0.6834790402101658)
NSW Namoi : ('p_bin_0', 0.7587836579752134)
NSW Macquarie-Castlereagh : ('p_bin_0', 0.8372148524636569)
NSW Lachlan : ('p_bin_0', 0.8083725413934693)
NSW Murrumbidgee : ('p_bin_0', 0.7166806352911977)

In [14]:
for r in soil_data.RegionName:
    print(f"{r} : {find_max_column(soil_data[soil_data.RegionName == r], ph_c)}")

QLD Condamine-Balonne : ('ph_bin_2', 0.5529312102832591)
NSW Barwon Darling : ('ph_bin_2', 0.5152530258067849)
QLD Moonie : ('ph_bin_2', 0.7428141962627656)
NSW Murray Above : ('ph_bin_1', 0.89071301662585)
NSW Lower Darling : ('ph_bin_3', 0.8666367968872773)
QLD Border Rivers : ('ph_bin_2', 0.5935928357510347)
NSW Border Rivers : ('ph_bin_1', 0.5124334500933859)
NSW Gwydir : ('ph_bin_2', 0.4491228707770046)
NSW Namoi : ('ph_bin_2', 0.5279288202246644)
NSW Macquarie-Castlereagh : ('ph_bin_2', 0.4726659638665496)
NSW Lachlan : ('ph_bin_1', 0.4619461489331222)
NSW Murrumbidgee : ('ph_bin_1', 0.6928392179572772)

In [15]:
for r in soil_data.RegionName:
    print(f"{r} : {find_max_column(soil_data[soil_data.RegionName == r], type_c)}")

QLD Condamine-Balonne : ('type_1', 0.3534710050926855)
NSW Barwon Darling : ('type_8', 0.5935889057694949)
QLD Moonie : ('type_1', 0.3504488877501049)
NSW Murray Above : ('type_3', 0.4294350693220538)
NSW Lower Darling : ('type_11', 0.5140807356418802)
QLD Border Rivers : ('type_2', 0.5287121109835955)
NSW Border Rivers : ('type_1', 0.3426076451550359)
NSW Gwydir : ('type_1', 0.5571777951982354)
NSW Namoi : ('type_1', 0.411852560750691)
NSW Macquarie-Castlereagh : ('type_4', 0.4571783896964937)
NSW Lachlan : ('type_4', 0.3741643820764872)
NSW Murrumbidgee : ('type_4', 0.4395913884786363)

In [16]:
soil_stats = pd.DataFrame(soil_data.RegionName, columns = ["RegionName"])
soil_stats

                   RegionName
0       QLD Condamine-Balonne
1          NSW Barwon Darling
2                  QLD Moonie
3            NSW Murray Above
4           NSW Lower Darling
5           QLD Border Rivers
6           NSW Border Rivers
7                  NSW Gwydir
8                   NSW Namoi
9   NSW Macquarie-Castlereagh
10                NSW Lachlan
11           NSW Murrumbidgee

In [17]:
most_soil_type = []
for r in soil_data.RegionName:
    most_soil_type.append(find_max_column(soil_data[soil_data.RegionName == r], type_c)[0])

In [18]:
most_soil_type

['type_1',
 'type_8',
 'type_1',
 'type_3',
 'type_11',
 'type_2',
 'type_1',
 'type_1',
 'type_1',
 'type_4',
 'type_4',
 'type_4']

In [19]:
soil_stats["1st_top_soil_type"] = most_soil_type
soil_stats

                   RegionName 1st_top_soil_type
0       QLD Condamine-Balonne            type_1
1          NSW Barwon Darling            type_8
2                  QLD Moonie            type_1
3            NSW Murray Above            type_3
4           NSW Lower Darling           type_11
5           QLD Border Rivers            type_2
6           NSW Border Rivers            type_1
7                  NSW Gwydir            type_1
8                   NSW Namoi            type_1
9   NSW Macquarie-Castlereagh            type_4
10                NSW Lachlan            type_4
11           NSW Murrumbidgee            type_4

In [20]:
most_soil_type_2 = []
for r in soil_data.RegionName:
    most_soil_type_2.append(find_max_column(soil_data[soil_data.RegionName == r], set(type_c) - set(soil_stats[soil_stats.RegionName == r]['1st_top_soil_type']))[0])

In [21]:
soil_stats["2st_top_soil_type"] = most_soil_type_2
soil_stats

                   RegionName 1st_top_soil_type 2st_top_soil_type
0       QLD Condamine-Balonne            type_1            type_8
1          NSW Barwon Darling            type_8            type_1
2                  QLD Moonie            type_1            type_2
3            NSW Murray Above            type_3            type_7
4           NSW Lower Darling           type_11            type_4
5           QLD Border Rivers            type_2            type_1
6           NSW Border Rivers            type_1            type_2
7                  NSW Gwydir            type_1            type_4
8                   NSW Namoi            type_1            type_4
9   NSW Macquarie-Castlereagh            type_4            type_1
10                NSW Lachlan            type_4            type_8
11           NSW Murrumbidgee            type_4            type_1

In [22]:
soil_stats["1st_top_soil_type"] = soil_stats["1st_top_soil_type"].replace(soils)
soil_stats["2st_top_soil_type"] = soil_stats["2st_top_soil_type"].replace(soils)
soil_stats

                   RegionName 1st_top_soil_type 2st_top_soil_type
0       QLD Condamine-Balonne          Vertosol          Kandosol
1          NSW Barwon Darling          Kandosol          Vertosol
2                  QLD Moonie          Vertosol           Sodosol
3            NSW Murray Above          Dermosol           Tenosol
4           NSW Lower Darling           Rudosol         Chromosol
5           QLD Border Rivers           Sodosol          Vertosol
6           NSW Border Rivers          Vertosol           Sodosol
7                  NSW Gwydir          Vertosol         Chromosol
8                   NSW Namoi          Vertosol         Chromosol
9   NSW Macquarie-Castlereagh         Chromosol          Vertosol
10                NSW Lachlan         Chromosol          Kandosol
11           NSW Murrumbidgee         Chromosol          Vertosol

In [23]:
n_level = []
for r in soil_data.RegionName:
    n_level.append(find_max_column(soil_data[soil_data.RegionName == r], nitrogen_c)[0])

In [24]:
n_level

['n_bin_0',
 'n_bin_0',
 'n_bin_0',
 'n_bin_2',
 'n_bin_0',
 'n_bin_1',
 'n_bin_1',
 'n_bin_1',
 'n_bin_1',
 'n_bin_0',
 'n_bin_0',
 'n_bin_1']

In [25]:
soil_stats["median_nitrogen_levels"] = n_level
soil_stats

,RegionName,1st_top_soil_type,2st_top_soil_type,median_nitrogen_levels
0,QLD Condamine-Balonne,Vertosol,Kandosol,n_bin_0
1,NSW Barwon Darling,Kandosol,Vertosol,n_bin_0
2,QLD Moonie,Vertosol,Sodosol,n_bin_0
3,NSW Murray Above,Dermosol,Tenosol,n_bin_2
4,NSW Lower Darling,Rudosol,Chromosol,n_bin_0
5,QLD Border Rivers,Sodosol,Vertosol,n_bin_1
6,NSW Border Rivers,Vertosol,Sodosol,n_bin_1
7,NSW Gwydir,Vertosol,Chromosol,n_bin_1
8,NSW Namoi,Vertosol,Chromosol,n_bin_1
9,NSW Macquarie-Castlereagh,Chromosol,Vertosol,n_bin_0
10,NSW Lachlan,Chromosol,Kandosol,n_bin_0
11,NSW Murrumbidgee,Chromosol,Vertosol,n_bin_1

In [26]:
p_level = []
for r in soil_data.RegionName:
    p_level.append(find_max_column(soil_data[soil_data.RegionName == r], phosphorus_c)[0])

In [27]:
soil_stats["median_phosphorus_levels"] = p_level
soil_stats

,RegionName,1st_top_soil_type,2st_top_soil_type,median_nitrogen_levels,median_phosphorus_levels
0,QLD Condamine-Balonne,Vertosol,Kandosol,n_bin_0,p_bin_0
1,NSW Barwon Darling,Kandosol,Vertosol,n_bin_0,p_bin_0
2,QLD Moonie,Vertosol,Sodosol,n_bin_0,p_bin_0
3,NSW Murray Above,Dermosol,Tenosol,n_bin_2,p_bin_3
4,NSW Lower Darling,Rudosol,Chromosol,n_bin_0,p_bin_0
5,QLD Border Rivers,Sodosol,Vertosol,n_bin_1,p_bin_0
6,NSW Border Rivers,Vertosol,Sodosol,n_bin_1,p_bin_0
7,NSW Gwydir,Vertosol,Chromosol,n_bin_1,p_bin_0
8,NSW Namoi,Vertosol,Chromosol,n_bin_1,p_bin_0
9,NSW Macquarie-Castlereagh,Chromosol,Vertosol,n_bin_0,p_bin_0
10,NSW Lachlan,Chromosol,Kandosol,n_bin_0,p_bin_0
11,NSW Murrumbidgee,Chromosol,Vertosol,n_bin_1,p_bin_0

In [28]:
ph_level = []
for r in soil_data.RegionName:
    ph_level.append(find_max_column(soil_data[soil_data.RegionName == r], ph_c)[0])

In [29]:
soil_stats["median_ph_levels"] = ph_level
soil_stats

,RegionName,1st_top_soil_type,2st_top_soil_type,median_nitrogen_levels,median_phosphorus_levels,median_ph_levels
0,QLD Condamine-Balonne,Vertosol,Kandosol,n_bin_0,p_bin_0,ph_bin_2
1,NSW Barwon Darling,Kandosol,Vertosol,n_bin_0,p_bin_0,ph_bin_2
2,QLD Moonie,Vertosol,Sodosol,n_bin_0,p_bin_0,ph_bin_2
3,NSW Murray Above,Dermosol,Tenosol,n_bin_2,p_bin_3,ph_bin_1
4,NSW Lower Darling,Rudosol,Chromosol,n_bin_0,p_bin_0,ph_bin_3
5,QLD Border Rivers,Sodosol,Vertosol,n_bin_1,p_bin_0,ph_bin_2
6,NSW Border Rivers,Vertosol,Sodosol,n_bin_1,p_bin_0,ph_bin_1
7,NSW Gwydir,Vertosol,Chromosol,n_bin_1,p_bin_0,ph_bin_2
8,NSW Namoi,Vertosol,Chromosol,n_bin_1,p_bin_0,ph_bin_2
9,NSW Macquarie-Castlereagh,Chromosol,Vertosol,n_bin_0,p_bin_0,ph_bin_2
10,NSW Lachlan,Chromosol,Kandosol,n_bin_0,p_bin_0,ph_bin_1
11,NSW Murrumbidgee,Chromosol,Vertosol,n_bin_1,p_bin_0,ph_bin_1

n: Min: 0.02 Max: 0.7


p: Min: 0.01 Max: 0.64


ph: Min: 3.42 Max: 8.14

In [30]:
print("Nitrogen num:", len(nitrogen_c))
print("Phosphorus num:", len(phosphorus_c))
print("Ph num:", len(ph_c))

Nitrogen num: 7
Phosphorus num: 7
Ph num: 5

In [31]:
def get_bin_range(min_val, max_val, num_bins, bin_index):
    bin_width = (max_val - min_val) / num_bins
    lower = min_val + bin_index * bin_width
    upper = lower + bin_width
    return round(lower, 3), round(upper, 3)

In [32]:
n_bins = {}
for bin in  nitrogen_c:
    vals = get_bin_range(0.02, 0.7, 7, int(bin.split("_")[2]))
    n_bins[bin] = str(vals[0]) + "-" + str(vals[1])

In [33]:
p_bins = {}
for bin in  phosphorus_c:
    vals = get_bin_range(0.01, 0.64, 7, int(bin.split("_")[2]))
    p_bins[bin] = str(vals[0]) + "-" + str(vals[1])

In [34]:
ph_bins = {}
for bin in  ph_c:
    vals = get_bin_range(3.42, 8.14, 5, int(bin.split("_")[2]))
    ph_bins[bin] = str(vals[0]) + "-" + str(vals[1])

In [35]:
soil_stats["median_nitrogen_levels"] = soil_stats["median_nitrogen_levels"].replace(n_bins)
soil_stats["median_phosphorus_levels"] = soil_stats["median_phosphorus_levels"].replace(p_bins)
soil_stats["median_ph_levels"] = soil_stats["median_ph_levels"].replace(ph_bins)
soil_stats

,RegionName,1st_top_soil_type,2st_top_soil_type,median_nitrogen_levels,median_phosphorus_levels,median_ph_levels
0,QLD Condamine-Balonne,Vertosol,Kandosol,0.02-0.117,0.01-0.1,5.308-6.252
1,NSW Barwon Darling,Kandosol,Vertosol,0.02-0.117,0.01-0.1,5.308-6.252
2,QLD Moonie,Vertosol,Sodosol,0.02-0.117,0.01-0.1,5.308-6.252
3,NSW Murray Above,Dermosol,Tenosol,0.214-0.311,0.28-0.37,4.364-5.308
4,NSW Lower Darling,Rudosol,Chromosol,0.02-0.117,0.01-0.1,6.252-7.196
5,QLD Border Rivers,Sodosol,Vertosol,0.117-0.214,0.01-0.1,5.308-6.252
6,NSW Border Rivers,Vertosol,Sodosol,0.117-0.214,0.01-0.1,4.364-5.308
7,NSW Gwydir,Vertosol,Chromosol,0.117-0.214,0.01-0.1,5.308-6.252
8,NSW Namoi,Vertosol,Chromosol,0.117-0.214,0.01-0.1,5.308-6.252
9,NSW Macquarie-Castlereagh,Chromosol,Vertosol,0.02-0.117,0.01-0.1,5.308-6.252
10,NSW Lachlan,Chromosol,Kandosol,0.02-0.117,0.01-0.1,4.364-5.308
11,NSW Murrumbidgee,Chromosol,Vertosol,0.117-0.214,0.01-0.1,4.364-5.308

In [36]:
soil_stats.to_csv("soil_stats.csv", index = False)