In [2]:
import numpy as np
import pandas as pd

In [3]:
dataset = pd.read_csv("C:/Users/Dima/Desktop/MIP/stations/combined_daily_frame_with_seasons_to_be_aggr.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5197097 entries, 0 to 5197096
Data columns (total 14 columns):
 #   Column         Dtype
---  ------         -----
 0   station        int64
 1   daily_rain     float64
 2   max_temp       float64
 3   min_temp       float64
 4   radiation      float64
 5   rh_tmax        float64
 6   rh_tmin        float64
 7   et_short_crop  float64
 8   Date           object
 9   Year           int64
 10  Month          int64
 11  Region         object
 12  Day            int64
 13  Season         object
dtypes: float64(7), int64(4), object(3)
memory usage: 555.1+ MB

In [4]:
dataset.groupby("Year").count()

,station,daily_rain,max_temp,min_temp,radiation,rh_tmax,rh_tmin,et_short_crop,Date,Month,Region,Day,Season
Year,,,,,,,,,,,,,
2006,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063
2007,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063
2008,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601
2009,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063
2010,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063
2011,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063
2012,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601
2013,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063
2014,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063
2015,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063
2016,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601
2017,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063
2018,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063
2019,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063,346063
2020,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601,347601

In [5]:
dataset.Season.unique()

array(['Flowering', 'Maturation', 'Harvesting', 'Planting', 'Growing'],
      dtype=object)

In [6]:
grouped_ds = dataset.groupby(["Region", 'Date'])["daily_rain"].sum().reset_index()

In [7]:
grouped_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40428 entries, 0 to 40427
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Region      40428 non-null  object
 1   Date        40428 non-null  object
 2   daily_rain  40428 non-null  float64
dtypes: float64(1), object(2)
memory usage: 947.7+ KB

In [8]:
grouped_ds["radiation"] = dataset.groupby(["Region", 'Date'])["radiation"].sum().reset_index()["radiation"]
grouped_ds

                   Region        Date  daily_rain  radiation
0      NSW Barwon Darling  2006-01-01         0.0     5552.5
1      NSW Barwon Darling  2006-01-02         0.0     4275.2
2      NSW Barwon Darling  2006-01-03         0.0     4865.6
3      NSW Barwon Darling  2006-01-04         0.0     5213.7
4      NSW Barwon Darling  2006-01-05         0.4     5464.7
...                   ...         ...         ...        ...
40423          QLD Moonie  2020-12-27         0.9      499.2
40424          QLD Moonie  2020-12-28         0.0      370.7
40425          QLD Moonie  2020-12-29        30.1      246.2
40426          QLD Moonie  2020-12-30        89.8      351.8
40427          QLD Moonie  2020-12-31        27.5      422.3

[40428 rows x 4 columns]

In [9]:
grouped_ds["max_temp"] = dataset.groupby(["Region", 'Date'])["max_temp"].max().reset_index()["max_temp"]
grouped_ds["min_temp"] = dataset.groupby(["Region", 'Date'])["min_temp"].min().reset_index()["min_temp"]
grouped_ds

,Region,Date,daily_rain,radiation,max_temp,min_temp
0,NSW Barwon Darling,2006-01-01,0.0,5552.5,47.3,22.1
1,NSW Barwon Darling,2006-01-02,0.0,4275.2,44.0,21.0
2,NSW Barwon Darling,2006-01-03,0.0,4865.6,43.4,20.8
3,NSW Barwon Darling,2006-01-04,0.0,5213.7,42.2,17.3
4,NSW Barwon Darling,2006-01-05,0.4,5464.7,42.5,17.3
...,...,...,...,...,...,...
40423,QLD Moonie,2020-12-27,0.9,499.2,36.4,16.9
40424,QLD Moonie,2020-12-28,0.0,370.7,35.0,19.3
40425,QLD Moonie,2020-12-29,30.1,246.2,31.9,20.9
40426,QLD Moonie,2020-12-30,89.8,351.8,32.9,19.7
40427,QLD Moonie,2020-12-31,27.5,422.3,34.3,18.7

In [10]:
grouped_ds["rh_tmax"] = dataset.groupby(["Region", 'Date'])["rh_tmax"].mean().reset_index()["rh_tmax"]
grouped_ds["rh_tmin"] = dataset.groupby(["Region", 'Date'])["rh_tmin"].mean().reset_index()["rh_tmin"]
grouped_ds["et_short_crop"] = dataset.groupby(["Region", 'Date'])["et_short_crop"].mean().reset_index()["et_short_crop"]
grouped_ds

,Region,Date,daily_rain,radiation,max_temp,min_temp,rh_tmax,rh_tmin,et_short_crop
0,NSW Barwon Darling,2006-01-01,0.0,5552.5,47.3,22.1,15.979070,34.910465,9.557558
1,NSW Barwon Darling,2006-01-02,0.0,4275.2,44.0,21.0,21.561047,46.289535,7.956977
2,NSW Barwon Darling,2006-01-03,0.0,4865.6,43.4,20.8,15.263953,31.980814,8.512209
3,NSW Barwon Darling,2006-01-04,0.0,5213.7,42.2,17.3,13.979070,35.295930,8.575000
4,NSW Barwon Darling,2006-01-05,0.4,5464.7,42.5,17.3,17.861628,46.701744,8.701744
...,...,...,...,...,...,...,...,...,...
40423,QLD Moonie,2020-12-27,0.9,499.2,36.4,16.9,27.125000,63.525000,7.762500
40424,QLD Moonie,2020-12-28,0.0,370.7,35.0,19.3,34.368750,66.400000,6.506250
40425,QLD Moonie,2020-12-29,30.1,246.2,31.9,20.9,46.950000,80.087500,4.537500
40426,QLD Moonie,2020-12-30,89.8,351.8,32.9,19.7,46.100000,89.212500,5.443750
40427,QLD Moonie,2020-12-31,27.5,422.3,34.3,18.7,36.812500,82.468750,6.537500

In [11]:
aggregates = grouped_ds.merge(dataset[["Region", "Date", "Year", "Month", "Day", "Season"]].drop_duplicates(), on=["Region", "Date"], how = "left")
aggregates

,Region,Date,daily_rain,radiation,max_temp,min_temp,rh_tmax,rh_tmin,et_short_crop,Year,Month,Day,Season
0,NSW Barwon Darling,2006-01-01,0.0,5552.5,47.3,22.1,15.979070,34.910465,9.557558,2006,1,1,Flowering
1,NSW Barwon Darling,2006-01-02,0.0,4275.2,44.0,21.0,21.561047,46.289535,7.956977,2006,1,2,Flowering
2,NSW Barwon Darling,2006-01-03,0.0,4865.6,43.4,20.8,15.263953,31.980814,8.512209,2006,1,3,Flowering
3,NSW Barwon Darling,2006-01-04,0.0,5213.7,42.2,17.3,13.979070,35.295930,8.575000,2006,1,4,Flowering
4,NSW Barwon Darling,2006-01-05,0.4,5464.7,42.5,17.3,17.861628,46.701744,8.701744,2006,1,5,Flowering
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40423,QLD Moonie,2020-12-27,0.9,499.2,36.4,16.9,27.125000,63.525000,7.762500,2020,12,27,Growing
40424,QLD Moonie,2020-12-28,0.0,370.7,35.0,19.3,34.368750,66.400000,6.506250,2020,12,28,Growing
40425,QLD Moonie,2020-12-29,30.1,246.2,31.9,20.9,46.950000,80.087500,4.537500,2020,12,29,Growing
40426,QLD Moonie,2020-12-30,89.8,351.8,32.9,19.7,46.100000,89.212500,5.443750,2020,12,30,Growing
40427,QLD Moonie,2020-12-31,27.5,422.3,34.3,18.7,36.812500,82.468750,6.537500,2020,12,31,Growing

In [12]:
yields_data = pd.read_csv("C:/Users/Dima/Desktop/MIP/yield_data.csv")
yields_data[["Year", "Region", "Production"]]

     Year                 Region    Production
0    2006       NSW Murray Above    213.352283
1    2006     NSW Barwon Darling  48193.357590
2    2006      NSW Border Rivers  46638.139300
3    2006            NSW Lachlan  13365.844220
4    2006             NSW Gwydir  94323.790200
..    ...                    ...           ...
170  2020             NSW Gwydir  11488.711627
171  2020      QLD Border Rivers   2398.325021
172  2020              NSW Namoi  14900.278902
173  2020  QLD Condamine-Balonne   6589.852195
174  2020             QLD Moonie    148.468153

[175 rows x 3 columns]

In [13]:
aggregates_full = aggregates.merge(yields_data[["Year", "Region", "Production"]], on = ["Year", "Region"], how = "left")
aggregates_full

,Region,Date,daily_rain,radiation,max_temp,min_temp,rh_tmax,rh_tmin,et_short_crop,Year,Month,Day,Season,Production
0,NSW Barwon Darling,2006-01-01,0.0,5552.5,47.3,22.1,15.979070,34.910465,9.557558,2006,1,1,Flowering,48193.357590
1,NSW Barwon Darling,2006-01-02,0.0,4275.2,44.0,21.0,21.561047,46.289535,7.956977,2006,1,2,Flowering,48193.357590
2,NSW Barwon Darling,2006-01-03,0.0,4865.6,43.4,20.8,15.263953,31.980814,8.512209,2006,1,3,Flowering,48193.357590
3,NSW Barwon Darling,2006-01-04,0.0,5213.7,42.2,17.3,13.979070,35.295930,8.575000,2006,1,4,Flowering,48193.357590
4,NSW Barwon Darling,2006-01-05,0.4,5464.7,42.5,17.3,17.861628,46.701744,8.701744,2006,1,5,Flowering,48193.357590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40423,QLD Moonie,2020-12-27,0.9,499.2,36.4,16.9,27.125000,63.525000,7.762500,2020,12,27,Growing,148.468153
40424,QLD Moonie,2020-12-28,0.0,370.7,35.0,19.3,34.368750,66.400000,6.506250,2020,12,28,Growing,148.468153
40425,QLD Moonie,2020-12-29,30.1,246.2,31.9,20.9,46.950000,80.087500,4.537500,2020,12,29,Growing,148.468153
40426,QLD Moonie,2020-12-30,89.8,351.8,32.9,19.7,46.100000,89.212500,5.443750,2020,12,30,Growing,148.468153
40427,QLD Moonie,2020-12-31,27.5,422.3,34.3,18.7,36.812500,82.468750,6.537500,2020,12,31,Growing,148.468153

In [14]:
stats = pd.read_csv("C:/Users/Dima/Desktop/MIP/stations/site_geometry.csv")
stats = stats[["RegionName", "region_area"]].copy()
stats.rename(columns = {"RegionName" : "Region"}, inplace = True)
stats

                     Region   region_area
0     QLD Condamine-Balonne  1.494580e+11
1     QLD Condamine-Balonne  1.494580e+11
2     QLD Condamine-Balonne  1.494580e+11
3     QLD Condamine-Balonne  1.494580e+11
4     QLD Condamine-Balonne  1.494580e+11
...                     ...           ...
3730       NSW Murray Above  5.774198e+09
3731       NSW Murray Above  5.774198e+09
3732       NSW Murray Above  5.774198e+09
3733       NSW Murray Above  5.774198e+09
3734       NSW Murray Above  5.774198e+09

[3735 rows x 2 columns]

In [15]:
aggregates_full.loc[aggregates_full["Year"] == 2020, "Production"] = None

In [16]:
aggregates_full[aggregates_full["Year"] == 2020]["Production"]

3209    NaN
3210    NaN
3211    NaN
3212    NaN
3213    NaN
         ..
40423   NaN
40424   NaN
40425   NaN
40426   NaN
40427   NaN
Name: Production, Length: 2704, dtype: float64

In [17]:
aggregates_full = aggregates_full.join(stats.groupby("Region")["region_area"].aggregate("first"), on = "Region", how = "left")
aggregates_full.head()

,Region,Date,daily_rain,radiation,max_temp,min_temp,rh_tmax,rh_tmin,et_short_crop,Year,Month,Day,Season,Production,region_area
0,NSW Barwon Darling,2006-01-01,0.0,5552.5,47.3,22.1,15.979070,34.910465,9.557558,2006,1,1,Flowering,48193.35759,2.156511e+11
1,NSW Barwon Darling,2006-01-02,0.0,4275.2,44.0,21.0,21.561047,46.289535,7.956977,2006,1,2,Flowering,48193.35759,2.156511e+11
2,NSW Barwon Darling,2006-01-03,0.0,4865.6,43.4,20.8,15.263953,31.980814,8.512209,2006,1,3,Flowering,48193.35759,2.156511e+11
3,NSW Barwon Darling,2006-01-04,0.0,5213.7,42.2,17.3,13.979070,35.295930,8.575000,2006,1,4,Flowering,48193.35759,2.156511e+11
4,NSW Barwon Darling,2006-01-05,0.4,5464.7,42.5,17.3,17.861628,46.701744,8.701744,2006,1,5,Flowering,48193.35759,2.156511e+11

In [18]:
aggregates_full.to_csv("data.csv", index = False)